
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-gray: #c7c5c5;
  --color-red: #ef1111;

  /* special */
  --color-frist: #0F2A1D;
  --color-second: #375534;
  --color-third: #6B9071;
  --color-fourth: #AEC3B0;
  --color-fifth: #E3EED4;
}