.wrapper {
    display: flex;
    align-items: center;
    gap: 32px;
    padding: 1% 0;
    justify-content: flex-start;
    border-bottom: 1px solid #ccc;
}

.slider {
    background-color: var(--color-gray);
    padding: 0 120px;
}